In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./salary.csv',encoding='utf-8')

In [3]:
print(df)

  name sex  age  salary
0   李明   男   24    3600
1  王小红   女   28    4000
2   杨勇   男   30    4500

In [13]:
df1 = pd.read_table('./salary.txt',sep='\t',encoding='utf-8',index_col=0)

In [9]:
df1

Empty DataFrame
Columns: []
Index: [李明,男,24,3600, 王小红,女,28,4000, 杨勇,男,30,4500]

In [14]:
df = pd.read_csv('./salary.csv',encoding='utf-8')

In [15]:
df.loc['add_row'] = ['sary','boy',35,5000]

In [16]:
print(df)

         name  sex  age  salary
0          李明    男   24    3600
1         王小红    女   28    4000
2          杨勇    男   30    4500
add_row  sary  boy   35    5000

In [17]:
df.to_csv('./salary.csv')