In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame()

In [4]:
print(df)

Empty DataFrame
Columns: []
Index: []

In [5]:
s = pd.Series()

<ipython-input-5-399a7d257b44>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s = pd.Series()

In [6]:
print(s)

Series([], dtype: float64)

In [24]:
import numpy as np
data = np.array([int(1),'b','c','d'])
s = pd.Series(data)
print(s)

0    1
1    b
2    c
3    d
dtype: object

In [25]:
s = pd.Series(data,index=[100,101,102,103])
print(s)

100    1
101    b
102    c
103    d
dtype: object

In [28]:
print(s[100])
print(type(s[100]))

1
<class 'str'>

In [29]:
data = {'a':0.,'b':1.,'c':2.}

In [30]:
s = pd.Series(data)

In [31]:
print(s)

a    0.0
b    1.0
c    2.0
dtype: float64

In [32]:
s = pd.Series(data, index=['b','c','d','a'])

In [33]:
print(s)

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [34]:
s = pd.Series(data, index=[1,2,3,4])

In [35]:
print(s)

1   NaN
2   NaN
3   NaN
4   NaN
dtype: float64

In [36]:
s = pd.Series(5)

In [38]:
print(s)

0    5
dtype: int64

In [39]:
s = pd.Series(5, index=[0,1,2,3])
print(s)

0    5
1    5
2    5
3    5
dtype: int64

In [40]:
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
print(s[3])

4

In [41]:
print(s['d'])

4

In [42]:
print(s[:'d'])

a    1
b    2
c    3
d    4
dtype: int64

In [44]:
print(s[:3])

a    1
b    2
c    3
dtype: int64

In [45]:
s.add(6)

a     7
b     8
c     9
d    10
e    11
dtype: int64

In [46]:
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [48]:
s.add(1)

a    2
b    3
c    4
d    5
e    6
dtype: int64

In [19]:
se = pd.Series([2,4,-3,7], index=['b','c','a','d'])

In [20]:
se

b    2
c    4
a   -3
d    7
dtype: int64

In [21]:
se[0]

2

In [22]:
se['b']

2

In [23]:
se = pd.Series([2,'gh',-3,7], index=['b','c','a','d'])

In [24]:
se

b     2
c    gh
a    -3
d     7
dtype: object

In [25]:
se + se[se>3]

TypeError: '>' not supported between instances of 'str' and 'int'

In [26]:
se = pd.Series([2,4,-3,7], index=['b','c','a','d'])

In [27]:
se + se[se>3]

a     NaN
b     NaN
c     8.0
d    14.0
dtype: float64

In [28]:
se

b    2
c    4
a   -3
d    7
dtype: int64

In [30]:
se += se[se>3]

In [31]:
se

b     NaN
c     8.0
a     NaN
d    14.0
dtype: float64

In [32]:
se = pd.Series([5,1,4,2,2])

In [33]:
se.unique()

array([5, 1, 4, 2])

In [35]:
se.value_counts()

2    2
5    1
4    1
1    1
dtype: int64

In [36]:
se.value_counts()

2    2
5    1
4    1
1    1
dtype: int64

In [37]:
se.isin([0,2])

0    False
1    False
2    False
3     True
4     True
dtype: bool

In [38]:
se

0    5
1    1
2    4
3    2
4    2
dtype: int64